@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

hr {
  border: none;
  background-color: #a0a1a1;
  color: #a0a1a1;
  height: 0.8px;
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/*-----Header-----*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__top {
  background-color: #000000;
  padding: 0.75rem 0;
}

@media (max-width: 599px) {
  .header__top {
    display: none;
  }
}

.header__bottom {
  background-color: #b7613b;
}

.header__block-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__top-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.625rem;
}

.header__bottom-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.375rem 0px;
  gap: 0.625rem;
}

.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #ee743d;
}

.address,
.phone {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.header__address {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  padding: 0px 10px;
}

/* list for phone */

.address__list {
  cursor: pointer;
}

.address__list>li {
  position: relative;
  display: flex;
  align-items: center;
}

.address__list>li::after {
  content: " ";
  background-image: url(../img/icon/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 10px;
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.address__list>li::before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}

.address__list:hover li::before {
  transform: translate(-50%, 0);
  opacity: 1;
}

.sub-header__address {
  position: absolute;
  top: 100%;
  padding: 4px 0px 0px 0px;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
  width: 100%;
}

.sub-header__address li {
  background-color: #fff;
}

.sub-header__address li:first-child {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
}

.sub-header__address li:last-child {
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
}

.sub-header__adr {
  color: #000000;
  padding: 5px 10px;
  display: inline-flex;
}

.address__list:hover .sub-header__address {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.sub-header__adr::before {
  content: " ";
  background-image: url(../img/icon/location.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: block;
  margin-right: 2px;
  flex: 0 0 auto;
}

/* list for address */


/* list for phone */

.phone__list {
  cursor: pointer;
}

.phone__list>li {
  position: relative;
  display: flex;
  align-items: center;
}

.phone__list>li::after {
  content: " ";
  background-image: url(../img/icon/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 10px;
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.phone__list>li::before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}

.phone__list:hover li::before {
  transform: translate(-50%, 0);
  opacity: 1;
}

.header__phone {
  font-weight: 700;
  font-size: 1.125rem;
  font-size: calc(0.875rem + (18 - 14) * ((100vw - 600px) / (1440 - 600)));
  line-height: 1.375rem;
  white-space: nowrap;
}

.sub-header__phone {
  position: absolute;
  top: 100%;
  padding: 4px 0px 0px 0px;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}

.sub-header__phone li {
  background-color: #fff;
}

.sub-header__phone li:first-child {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
}

.sub-header__phone li:last-child {
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
}

.sub-header__link {
  color: #000000;
  padding: 5px 10px;
  display: inline-block;
}

.phone__list:hover .sub-header__phone {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

/* list for phone */

.logo {
  width: 190px;
  height: 63px;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 599px) {
  .header__menu {
    display: none;
  }
}

.header__menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(15px + (50 - 15) * ((100vw - 320px) / (1440 - 320)));
}

@media (min-width: 1440px) {
  .header__menu-ul {
    gap: 3.125rem;
  }
}

.menu__a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: calc(0.875rem + (18 - 14) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(1.25rem + (22 - 20) * ((100vw - 320px) / (1440 - 320)));
  color: #ffffff;
}

.menu__a::after {
  content: " ";
  display: block;
  border-bottom: 1px solid;
  border-color: #ffffff;
  width: 0%;
  transition: all 280ms ease-in-out;
  -webkit-transition: all 280ms ease-in-out;
  -moz-transition: all 280ms ease-in-out;
  -ms-transition: all 280ms ease-in-out;
  -o-transition: all 280ms ease-in-out;
  padding-top: 3px;
}

.menu__a:hover::after {
  width: 100%;
}

/* opacity: 0.9;
} */

@media (min-width: 1440px) {
  .menu__a {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

.phone__menu {
  display: none;
}

@media (max-width: 599px) {
  .phone__menu {
    display: block;
  }
}

.phone__open {
  width: 35px;
  height: 35px;
  position: relative;
}

.phone__open svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.phone__menu-nav {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1000;
}

.phone__close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 15px;
}

.phone__close svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

.phone__menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.phone__menu-li {
  padding: 5px 0;
}

.phone__menu-a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #131313;
}

.header__title-phone {
  font-size: 1.125rem;
  line-height: 1.375rem;
  padding-top: 2.5rem;
  width: 60%;
  text-align: center;
}

.mobile__phone {
  color: #131313;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-bottom: 1.25rem;
  cursor: pointer;
}

/*-----Main------*/
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.start__block {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 21, 11, 0.6)), to(rgba(44, 21, 11, 0.6))), url(../img/background/banner.png);
  background: linear-gradient(0deg, rgba(44, 21, 11, 0.6), rgba(44, 21, 11, 0.6)), url(../img/background/banner.png);
  background-color: #b7613b;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-height: 670px) {
  .start__block {
    padding-top: calc(110px + -60 * (100vh - 500px) / 100);
  }
}

.start__section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.start__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(1.375rem + (36 - 22) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(2.125rem + (44 - 34) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  color: #ffffff;
}

.start__title span {
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .start__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.start__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: calc(0.875rem + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(1.125rem + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .start__text {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.start__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: calc(0.875rem + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(1.125rem + (20 - 18) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  padding: 1.3125rem calc(10px + (60 - 10) * ((100vw - 320px) / (1440 - 320)));
  color: #ffffff;
  background: #b7613b;
  border-radius: 8px;
}

@media (min-width: 1440px) {
  .start__btn {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1.3125rem 3.75rem;
  }
}

.start__btn:hover {
  background: #ee743d;
  -webkit-box-shadow: 0px 0px 10px #b7613b;
  box-shadow: 0px 0px 10px #b7613b;
}

.start__btn:active {
  background: #e36f3a;
  -webkit-box-shadow: 0px 0px 10px #b7613b;
  box-shadow: 0px 0px 10px #ae5a34;
}

.customs {
  padding: 3.125rem 0px;
}

.customs-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 60px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.customs__block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 270px;
  flex: 1 1 270px;
}

.customs__block-one,
.customs__block-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: "Montserrat";
  color: #000000;
  font-weight: 700;
}

.customs__title {
  padding-bottom: 16px;
  font-size: calc(1.125rem + (28 - 18) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(1.5rem + (34 - 24) * ((100vw - 320px) / (1440 - 320)));
}

.customs__title span {
  color: #b7613b;
}

@media (min-width: 1440px) {
  .customs__title {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
}

.text {
  font-family: "Montserrat";
}

.customs__text {
  font-weight: 400;
  font-size: calc(0.875rem + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(1.125rem + (20 - 18) * ((100vw - 320px) / (1440 - 320)));
  color: #303030;
}

@media (min-width: 1440px) {
  .customs__text {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.subtitle {
  font-family: "Montserrat";
}

.customs__subtitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #303030;
}

.customs__block-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.customs__experience {
  border: 15px solid #b7613b;
  padding: 0.75rem calc(50px + (110 - 50) * ((100vw - 600px) / (1440 - 600)));
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.experience__num {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.3125rem;
  color: #b7613b;
}

.experience__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #b7613b;
}

.customs__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.customs__img {
  position: relative;
  max-width: 423px;
  min-width: 310px;
  padding: 15px 40px 60px 40px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 21, 11, 0.8)), to(rgba(44, 21, 11, 0.8))), url(../img/photo/customs.png);
  background: linear-gradient(0deg, rgba(44, 21, 11, 0.8), rgba(44, 21, 11, 0.8)), url(../img/photo/customs.png);
  background-color: #b7613b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

.customs__img span {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
  color: #ffffff;
  padding-top: 0.9375rem;
  display: block;
}

.customs__img::after {
  content: " ";
  background: url(../img/photo/about.svg);
  background-repeat: no-repeat;
  height: 100%;
  width: 200px;
  position: absolute;
  top: -35px;
  right: -22px;
}

.customs__about-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #ffffff;
  max-width: 281px;
}

@media (max-width: 700px) {
  .customs__img {
    min-width: 270px;
  }
}

@media (max-width: 599px) {
  .customs__block-one {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .customs__block-two {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .customs__about {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .customs__block-four {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .customs__experience {
    border: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320))) solid #b7613b;
    padding: 0.75rem calc(65px + (110 - 65) * ((100vw - 320px) / (600 - 320)));
  }
}

.services {
  padding: 3.125rem 0px;
}

.services__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #000000;
  max-width: 33.1875rem;
  padding-bottom: 3.125rem;
}

@media (max-width: 1280px) {
  .services__title {
    font-size: calc(1.125rem + (28 - 18) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(1.25rem + (34 - 20) * ((100vw - 320px) / (1440 - 320)));
  }
}

.services-grid {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 700px) {
  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.services__img {
  position: relative;
  padding: 0 0 60% 0;
}

.services__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.services__img .services__img-filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 21, 11, 0.5)), to(rgba(44, 21, 11, 0.5)));
  background: linear-gradient(0deg, rgba(44, 21, 11, 0.5), rgba(44, 21, 11, 0.5));
}

.services__subtitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000000;
  padding: 1.25rem 0;
}

@media (max-width: 1280px) {
  .services__subtitle {
    font-size: calc(1rem + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(1.125rem + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
    padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1440 - 320))) 0 calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320))) 0;
  }
}

.services__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #303030;
}

@media (max-width: 1280px) {
  .services__text {
    font-size: calc(0.875rem + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(1rem + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
  }
}

.services__btn {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.6875rem 0px;
  background: -webkit-gradient(linear, left top, right top, color-stop(15.21%, #832801), color-stop(40.07%, #b7613b), color-stop(59.16%, #b7613b), color-stop(84.37%, #832801));
  background: linear-gradient(90deg, #832801 15.21%, #b7613b 40.07%, #b7613b 59.16%, #832801 84.37%);
  border: 2px solid #832801;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
}

.services__btn:active {
  border-color: #531901;
}

.services__btn::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/icon/excel.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.625rem;
}

@media (max-width: 1280px) {
  .services__btn {
    font-size: calc(1rem + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(1.125rem + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
  }
}

.clients {
  padding: 3.125rem 0px;
  display: none;
}

.clients__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  color: #000000;
  padding-bottom: 1.875rem;
}

@media (max-width: 1280px) {
  .clients__title {
    font-size: calc(1.125rem + (28 - 18) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(1.25rem + (34 - 20) * ((100vw - 320px) / (1440 - 320)));
  }
}

.clients-grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 5px;
}

@media (max-width: 350px) {
  .clients-grid {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.clients__block {
  padding: 0 0 100% 0;
  position: relative;
}

.clients__block img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/*-----Footer-----*/
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #461500;
  position: relative;
  padding-bottom: 4.6875rem;
}

.footer__main {
  padding-top: 3.125rem;
}

.footer__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  color: #ffffff;
  padding-bottom: 1.875rem;
}

@media (max-width: 1280px) {
  .footer__title {
    font-size: calc(1.125rem + (28 - 18) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(1.25rem + (34 - 20) * ((100vw - 320px) / (1440 - 320)));
  }
}

.footer__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
  padding-bottom: 2.1875rem;
  max-width: 38.3125rem;
}

@media (max-width: 1280px) {
  .footer__text {
    font-size: calc(0.875rem + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(1.125rem + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
  }
}

.footer__form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 30px;
}

.form__name:focus,
.form__phone:focus,
.form__city:focus,
.form__email:focus,
.form__message:focus {
  color: #ffffff;
}

.form__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  border: 2px solid #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: calc(0.875rem + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
  padding: 0.8125rem 1.875rem;
  background: none;
}

@media (min-width: 1440px) {
  .form__input {
    font-size: 1.25rem;
  }
}

@media (max-width: 380px) {
  .form__input {
    width: 100%;
  }
}

.form__name,
.form__phone,
.form__city,
.form__email {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 390px;
  flex: 1 1 390px;
}

@media (max-width: 900px) {

  .form__name,
  .form__phone,
  .form__city,
  .form__email {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
  }
}

@media (max-width: 700px) {

  .form__name,
  .form__phone,
  .form__city,
  .form__email {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 250px;
    flex: 1 1 250px;
  }
}

.form__message {
  min-width: 100%;
  min-height: 140px;
  resize: none;
}

.form__submit {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #ffffff;
  padding: 1.3125rem 3.75rem;
  background: #b7613b;
  border-radius: 8px;
  border: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 280px;
  flex: 0 0 280px;
  margin: 0 auto;
  cursor: pointer;
}

.form__submit:hover {
  background: #ee743d;
  -webkit-box-shadow: 0px 0px 10px #b7613b;
  box-shadow: 0px 0px 10px #b7613b;
}

.form__submit:active {
  background: #994b29;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 100px;
}

.info__block-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 17px;
}

.info__block-last {
  margin-left: calc(5px + (70 - 5) * ((100vw - 800px) / (1440 - 800)));
}

@media (max-width: 860px) {
  .info__block-last {
    margin: 0;
  }
}

.info__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #ffffff;
  max-width: 255px;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.list__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #c5c5c5;
}

.list__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #ffffff;
  padding-top: 0.625rem;
}

.footer__team {
  position: absolute;
  bottom: 20px;
  left: 0px;
}

.team__img {
  max-width: 560px;
  height: 23px;
  position: relative;
}

.team__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .team__img {
    max-width: 360px;
  }
}

.team__text {
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: calc(-6px + (-7 - -6) * ((100vw - 320px) / (1440 - 320)));
  font-family: "Courier New";
  font-weight: 400;
  font-size: calc(0.625rem + (12 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(0.75rem + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
  color: #ffffff;
}

.team__text span {
  font-weight: 700;
}

/* Модальное окно */
.popup {
  display: none;
  /* visibility: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 130;
}

.cart-body {
  position: relative;
  margin: auto;
  width: 1024px;
  max-width: 340px;
  max-height: 500px;
  background-color: #fff;
  padding: 3.125rem 1.25rem 2.1875rem 1.25rem;
  overflow: auto;
  border-radius: 3px;
}

.cart-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-image: url(../img/icon/cart-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cart__form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.cart__title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-bottom: 50px;
}

.cart__input {
  background: #ffffff;
  border: 2px solid #b7613b;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #b7613b;
  padding: 0.5rem 0.625rem;
}

.cart__input:focus {
  color: #131313;
}

.cart__message {
  resize: none;
}

.cart__submit {
  margin-top: 0.9375rem;
  border: none;
  background: #b7613b;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #ffffff;
  padding: 1.25rem 4.0625rem;
  cursor: pointer;
  transition: .3s;
}

.cart__submit:hover {
  background: #EE743D;
}

.services__grid-main {
  display: flex;
  flex-direction: column;
}

.services__grid-hidden {
  display: none;
  padding-top: 30px;
}

.hidden__btn {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #000000;
  /* padding: 1rem; */
  border: none;
  cursor: pointer;
  margin: 30px auto 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.hidden__btn::after {
  content: " ";
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: #000000;
  width: 100%;
  transition: all 280ms ease-in-out;
  -webkit-transition: all 280ms ease-in-out;
  -moz-transition: all 280ms ease-in-out;
  -ms-transition: all 280ms ease-in-out;
  -o-transition: all 280ms ease-in-out;
  padding-top: 3px;
}

.hidden__btn:hover {
  opacity: .8;
}

.hidden__btn:active {
  opacity: 1;
}

/* .hidden__btn:hover::after {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
} */

.list__address {
  max-width: 300px;
}